<h1> Hola </h1>

<%  $i = 1 %>
<%  $num = 50 %>
<%  while $i <= $num  do %>
  <%  if ($i % 2)==0 %>
    <h2><%= "#{$i} Soy Par!"%></h2>
    <%  $i = $i + 1 %>
  <% else %>
    <h2><%= "#{$i} Soy Impar!"%></h2>
    <%  $i = $i + 1 %>
  <% end %>
<% end %>
